<div>
  <h1>Welcome to my Dashboard. </h1>
</div>

<div>
  <a routerLink="home" routerLinkActive="active home">Home</a> |
  <a routerLink="login" routerLinkActive="active home">Login</a> |
  <a routerLink="about" routerLinkActive="active home">About</a> |
  <a routerLink="temp-register" routerLinkActive="home active">TemplateDriven Register</a> |
  <a routerLink="register" routerLinkActive="home active">Reactive Register</a> |
  <a routerLink="dynamic_ArrayForm_Control" routerLinkActive="home active">Dynamic FormArray Reactive Form</a>
</div>

<router-outlet></router-outlet>